footer {
    background-color: rgb(75, 58, 41);
    color: white;
    padding: 5px 0;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    margin: auto 0;
  }